:root{

	--animation-duration:1s;
}

.headerMoi {
	height: 4rem;
	margin-top: 0;
	margin-left: 20px;
    left: 0;
	position: absolute;
}

header{

	display: flex; /* Assure que le header s'affiche en tant que flexbox */
	justify-content: center; /* Espace les éléments du header horizontalement */
	/* position: fixed; Fixe le header en haut de la page */
	z-index: 1000; /* Assure que le header est au-dessus des autres éléments */

	background-image:linear-gradient(#a9a9a999, #a9a9a933);
	height: 70px;
    width: 100%;
    top: 0px;
	box-shadow: 0 .5em 10px 0px rgba(135, 130, 130, 0.4);
	
}

nav{
	margin: 1em  0  0  0 ;
	text-align: center;

}

li{

    list-style: none;
	display: inline-flex;
	margin-left: 20px;
	font-size: 30px;
	font-family: roboto sbal;

}

ul li a, p{

	text-decoration: none;
	color:black;
	transition: 1s;

}

ul li a:hover{

	text-decoration: underline black;

}



.pageAcceuil{

	background-color: whitesmoke;/*whitesmoke*/
	/* padding: 50px 0 50px 0; */
	/* padding: 4em 0 4em 0; */
	position: relative;
 	width: 100%;
	min-height: calc(100vh - 100px);

}

.moi{

	width: 25rem;
	height: 25rem;
	border-radius: 47%;
	text-align:center;
	margin:auto;
	display:flex;

	animation-duration: 2s;
	animation-name: glissement;
	animation-fill-mode: forwards; 
	animation-timing-function: cubic-bezier(1, -0.01, 0.54, 1.39);
	
}
@keyframes glissement {
	from {
	  transform: translateX(var(--random-start, 10vw)) translateY(var(--random-start2, 10vw));
	}
	to {
	  transform: translateX(0) translateY(0); 
	}
  }
  

h1{

	font-size: 40px;

}

h1, h2{

	text-align: center;

}

