:root{

	--animation-duration:1s;
}

*{
	font-family: roboto sbal;
}

.headerMoi {
	height: 4rem;
	margin-top: 0;
	margin-left: 20px;
    left: 0;
	position: absolute;
}

header{
	display: flex; 
	justify-content: center;

	z-index: 1000;

	background-image:linear-gradient(#a9a9a999, #a9a9a933);
	height: 70px;
    width: 100vw;
    top: 0px;
	box-shadow: 0 .5em 10px 0px rgba(135, 130, 130, 0.4);
	
}

nav{
	margin: 1em  0  0  0 ;
	text-align: center;

}

li{

    list-style: none;
	display: inline-flex;
	margin-left: 20px;
	font-size: 30px;
	font-family: roboto sbal;

}

ul li a, p{

	text-decoration: none;
	color:black;
	transition: 1s;

}

ul li a:hover{

	text-decoration: underline black;
    color: inherit;

}

a{
    text-decoration: none;
    color: inherit;
}

.pageAcceuil{

	background-color: whitesmoke;/*whitesmoke*/
	/* padding: 50px 0 50px 0; */
	/* padding: 4em 0 4em 0; */
	position: relative;
 	width: 100%;
	min-height: calc(100vh - 100px);

}

.moi{

	width: 25rem;
	height: 25rem;
	border-radius: 47%;
	text-align:center;
	margin:auto;
	display:flex;

	animation-duration: 2s;
	animation-name: glissement;
	animation-fill-mode: forwards; 
	animation-timing-function: cubic-bezier(1, -0.01, 0.54, 1.39);
	
}
@keyframes glissement {
	from {
	  transform: translateX(var(--random-start, 10vw)) translateY(var(--random-start2, 10vw));
	}
	to {
	  transform: translateX(0) translateY(0); 
	}
  }
  

h1{
	font-size: 40px;

}

h1, h2{
	margin-top: 3vh;

	text-align: center;

}

/* footer */
footer{
	background-color: rgb(143, 140, 140);
}


/* SOUS PAGE : SKILL */

.card-container{
	margin-top: 3vh;
	margin-bottom: 3vh;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	align-content:center;
	justify-content: space-evenly;
	/* flex-direction: column; */
}

.card{
	/* background-image: linear-gradient(#a9a9a999, #a9a9a933); */
	border-radius: 10px;
	flex-basis: 20%;
	padding: 10px;
	/* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
	/* transform : scale(1);  */
	 /* A VOIR POURQUOI CA REAGI COMME CA */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center; 
}
.card:hover{
	transition: 200ms;
	scale: 1.04;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.card img{	
	height: 150px;
	margin-top: 10px;
	object-fit: cover; 
}

div h3{
	margin-top: 1em;
}

div p{
	margin: 0.3em;
	margin-bottom: 1em;
}
